#bootstrap-overrides.prm-navbar{
    background: -webkit-linear-gradient(top, rgba(194,120,0,1) 0%, rgba(194,120,0,1) 15%, rgba(255,179,56,1) 70%, rgba(255,179,56,1) 100%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    position: sticky;
      top: 0;
      z-index: 3;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #000!important;
    font-family: Georgia, serif;
    font-weight: 500;
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    transform: scale(1.2);
    color: rgb(255, 255, 255)!important;
    text-shadow: 0px 0px 10px  rgb(0, 0, 0);
    z-index: 2;
  }