.team-description{
    text-align: center;
  }
  .p-title{
   font-size: 50px;
  }
  .p-location{
    font-size: 55px;
    color: #eb8f05;
  }
  
  
  .prm-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: 0.1s;
    padding:1%;
    margin: 10px;
    margin-top: 20px; 
    min-width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .prm-card:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 2px 2px 2px rgb(219, 214, 214);
  }
  
  .profile-image{
    border-radius: 50%;
    display: inline-block;
    position: relative;
    max-width: fit-content;
    max-height: 130px;
    overflow: hidden;
  }
  
  .prm-card-list {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 10px;
  }
  
  @media screen and (max-width:1200px){
    .prm-card{
      width: 40%;
    }
  }
  
  @media screen and (max-width:600px){
    .prm-card{
      width: 90%;
    }
  }